/* Coolors Exported Palette - coolors.co/5c9ead-0a2239-326273-1d84b5-132e32 */

/* HSL */
$color1: hsla(191%, 33%, 52%, 1);
$color2: hsla(209%, 70%, 13%, 1);
$color3: hsla(196%, 39%, 32%, 1);
$color4: hsla(199%, 72%, 41%, 1);
$color5: hsla(188%, 45%, 14%, 1);

/* RGB */
$color1: rgba(92, 158, 173, 1);
$color2: rgba(10, 34, 57, 1);
$color3: rgba(50, 98, 115, 1);
$color4: rgba(29, 132, 181, 1);
$color5: rgba(19, 46, 50, 1);